/* You can add global styles to this file, and also import other style files */
body {
    background: #dac3cd;
    color: #feeeed;
    overflow-x: hidden;

    /* background: linear-gradient(35deg, #F7CAC9, #91A8D0);; */
}